.container {
    position: relative;
    display: flex;
    width: 50%;
    height: 50%;
}

quill-editor {
    width: 100%;
}

.ql-editor {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    min-height: 90px;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 0;
}

.sendActionButton {
    cursor: pointer;
    background-color: #0066CC;
    height: 27px;
    width: 32px;
    min-width: 27px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    border-radius: 5px;
}

.addFileActionButton {
    cursor: pointer;
    height: 27px;
    width: 32px;
    min-width: 27px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.addFileActionButton mat-icon {
    scale: (0.7);
}

.addFileActionButton:hover {
    color: #0066CC;
}

.actionButtonIcons {
    scale: (0.8);
}

.tooltip-keybinds {
    white-space: pre-line;
}