<div class="container">
    <quill-editor [customToolbarPosition]="'top'" 
                  [placeholder]="'Enter message here ...'"
                  (onEditorCreated)="getEditorInstance($event)">
        <div quill-editor-toolbar>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
            </span>
            <span class="ql-formats" style="margin-left: 10px;">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats" style="margin-left: 10px;">
                <button class="ql-image"></button>
                <select class="ql-color"></select>
            </span>
        </div>
    </quill-editor>
</div>